__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

*.log
*.pot
*.pyc
*.mo
*.pickle
*.pkl
media/
staticfiles/

.vscode/
.idea/
*.swp

*.json
*.pem
google-tts.json

migrations/
.env
*.env
.env.*

venv/
Lib/
.bak
.dat

*.mp3
letters/audio/